<header>
  <div class="header">
    <a class="page-name" routerLink="/home" routerLinkActive="active">
      <tui-svg
        class="notifications"
        src="tuiIconArrowLeftLarge">
      </tui-svg>
    </a>
    <a class="page-name" routerLink="/" routerLinkActive="active">
      ЖКХ
    </a>
    <a class="page-name" routerLink="/" routerLinkActive="active">
      <tui-svg
        class="notifications"
        src="tuiIconBellLarge">
      </tui-svg>
    </a>
  </div>
</header>

<div class="communal">
  <div class="communal-container">
    <div class="communal-item">
      <div class="communal-header">
        <h3>
          Вода:
        </h3>
        <h3>
          2700 р
        </h3>
      </div>
      <div class="communal-price">
        <p>
          Израсходовано:
        </p>
        <p>60 м³</p>
      </div>
      <div class="communal-price">
        <p>
          Стоимость за 1 м³:
        </p>
        <p>45 р</p>
      </div>
    </div>

    <div class="communal-item">
      <div class="communal-header">
        <h3>
          Электроэнергия:
        </h3>
        <h3>
          500 р
        </h3>
      </div>
      <div class="communal-price">
        <p>
          Израсходовано:
        </p>
        <p>100 кВт/ч</p>
      </div>
      <div class="communal-price">
        <p>
          Стоимость за 1 кВт/ч:
        </p>
        <p>5 р</p>
      </div>
    </div>

    <div class="communal-item">
      <div class="communal-header">
        <h3>
          Вывоз мусора:
        </h3>
        <h3>
          300 р
        </h3>
      </div>
    </div>

    <div class="communal-item">
      <div class="communal-total">
        <div class="total">
          <h3>
            = 3500 р
          </h3>
        </div>
      </div>
    </div>
  </div>

  <div class="device-analytics">
    <h3>
      Устройства с наибольшим потреблением:
    </h3>

    <div class="device-elem">
      <p>
        Розетка №3
      </p>
      <a class="device-geolocation" routerLink="/" routerLinkActive="active">
        <tui-svg
          class="notifications"
          src="tuiIconMapPinLarge">
        </tui-svg>
      </a>
    </div>

    <div class="device-elem">
      <p>
        Чайник
      </p>
      <a class="device-geolocation" routerLink="/" routerLinkActive="active">
        <tui-svg
          class="notifications"
          src="tuiIconMapPinLarge">
        </tui-svg>
      </a>
    </div>

    <div class="device-elem">
      <p>
        Климат
      </p>
      <a class="device-geolocation" routerLink="/" routerLinkActive="active">
        <tui-svg
          class="notifications"
          src="tuiIconMapPinLarge">
        </tui-svg>
      </a>
    </div>

  </div>
</div>
