<header>
  <div class="header">
    <a class="my-account" routerLink="/" routerLinkActive="active">
      <img class="avatar" src="/assets/image-home/avatar.png">
    </a>
    <a class="page-name" routerLink="/" routerLinkActive="active">
      Главная
    </a>
    <a class="page-name" routerLink="/" routerLinkActive="active">
      <tui-svg
        class="notifications"
        src="tuiIconBellLarge">
      </tui-svg>
    </a>
  </div>
</header>

<div class="payment">
  <a class="balance-container" routerLink="/payment" routerLinkActive="active">
    <div class="my-balance">
      <p class="current-balance">20 000 ₽</p>
      <p class="small-text">Срок уплаты аренды: 1 марта</p>
    </div>
    <img class="payment-image" src="assets/image-home/payment.svg">
  </a>
</div>

<div class="operations">
  <a routerLink="/applications" routerLinkActive="active">
    <div class="item">
      <p>
        Мои заявки
      </p>
      <div class="item-image">
        <img src="assets/image-home/applications.svg">
      </div>
    </div>
  </a>
  <a routerLink="/smart-house" routerLinkActive="active">
    <div class="item">
      <p>
        Умный дом
      </p>
      <div class="item-image">
        <img src="assets/image-home/smart-house.svg">
      </div>
    </div>
  </a>
  <a routerLink="/communal-services" routerLinkActive="active">
    <div class="item">
      <p>
        ЖКХ
      </p>
      <div class="item-image">
        <img src="assets/image-home/communal-services.svg">
      </div>
    </div>
  </a>
  <a routerLink="/cameras" routerLinkActive="active">
    <div class="item">
      <p>
        Камеры
      </p>
      <div class="item-image">
        <img src="assets/image-home/cameras.svg">
      </div>
    </div>
  </a>
  <a routerLink="/access-control" routerLinkActive="active">
    <div class="item">
      <p>
        Контроль доступа
      </p>
      <div class="item-image">
        <img src="assets/image-home/access-control.svg">
      </div>
    </div>
  </a>
  <a routerLink="/" routerLinkActive="active">
    <div class="item">
      <p>
        Документы
      </p>
      <div class="item-image">
        <img src="assets/image-home/documentation.svg">
      </div>
    </div>
  </a>
</div>


