<header>
  <div class="header">
    <a class="page-name" routerLink="/home" routerLinkActive="active">
      <tui-svg
        class="notifications"
        src="tuiIconArrowLeftLarge">
      </tui-svg>
    </a>
    <a class="page-name" routerLink="/" routerLinkActive="active">
      Камеры
    </a>
    <a class="page-name" routerLink="/" routerLinkActive="active">
      <tui-svg
        class="notifications"
        src="tuiIconBellLarge">
      </tui-svg>
    </a>
  </div>
</header>

<div class="cameras">
  <tui-accordion class="container">
    <tui-accordion-item>
      Домофон
      <ng-template tuiAccordionItemContent>
        <div class="cameras-image">
          <img src="assets/image-cameras/domofon2.gif" alt="domofon">
        </div>
      </ng-template>
    </tui-accordion-item>

    <tui-accordion-item>
      Офис
      <ng-template tuiAccordionItemContent>
        <div class="cameras-image">
          <img src="assets/image-cameras/office.gif" alt="office">
        </div>
      </ng-template>
    </tui-accordion-item>

    <tui-accordion-item>
      Входная дверь
      <ng-template tuiAccordionItemContent>
        <div class="cameras-image">
          <img src="assets/image-cameras/door.gif" alt="door">
        </div>
      </ng-template>
    </tui-accordion-item>

    <tui-accordion-item>
      Ворота
      <ng-template tuiAccordionItemContent>
        <div class="cameras-image">
          <img src="assets/image-cameras/gates.jpg" alt="gates">
        </div>
      </ng-template>
    </tui-accordion-item>

    <tui-accordion-item>
      Коридор
      <ng-template tuiAccordionItemContent>
        <div class="cameras-image">
          <img src="assets/image-cameras/corridor.jpeg" alt="corridor">
        </div>
      </ng-template>
    </tui-accordion-item>
  </tui-accordion>
</div>
