<header>
  <div class="header">
    <a class="page-name" routerLink="/home" routerLinkActive="active">
      <tui-svg
        class="notifications"
        src="tuiIconArrowLeftLarge">
      </tui-svg>
    </a>
    <a class="page-name" routerLink="/" routerLinkActive="active">
      Умный дом
    </a>
    <a class="page-name" routerLink="/" routerLinkActive="active">
      <tui-svg
        class="notifications"
        src="tuiIconBellLarge">
      </tui-svg>
    </a>
  </div>
</header>

<div class="house-item">
  <div class="house-item-container">
    <div class="house-item-name">
      <p>
        Свет
      </p>
      <tui-toggle
        size="l"
        class="tui-space_right-1"
      ></tui-toggle>
    </div>
    <div class="house-item-image">
      <img src="assets/image-smart-house/light.svg">
    </div>
  </div>

  <div class="house-item-container">
    <div class="house-item-name">
      <p>
        Розетки
      </p>
      <tui-toggle
        size="l"
        class="tui-space_right-1"
      ></tui-toggle>
    </div>
    <div class="house-item-image">
      <img src="assets/image-smart-house/socket.svg">
    </div>
  </div>

  <div class="house-item-container">
    <div class="house-item-name">
      <p>
        Чайник
      </p>
      <tui-toggle
        size="l"
        class="tui-space_right-1"
      ></tui-toggle>
    </div>
    <div class="house-item-image">
      <img src="assets/image-smart-house/teapot.svg">
    </div>
  </div>

  <div class="house-item-container">
    <div class="house-item-name">
      <p>
        Климат
      </p>
      <tui-toggle
        size="l"
        class="tui-space_right-1"
      ></tui-toggle>
    </div>
    <div class="house-item-image">
      <img src="assets/image-smart-house/climate.svg">
    </div>
  </div>

  <div class="house-item-container">
    <div class="house-item-name">
      <p>
        Кофе
      </p>
      <tui-toggle
        size="l"
        class="tui-space_right-1"
      ></tui-toggle>
    </div>
    <div class="house-item-image">
      <img src="assets/image-smart-house/coffee.svg">
    </div>
  </div>

  <div class="house-item-container">
    <div class="house-item-name">
      <p>
        Двери
      </p>
      <tui-toggle
        size="l"
        class="tui-space_right-1"
      ></tui-toggle>
    </div>
    <div class="house-item-image">
      <img src="assets/image-smart-house/door.svg">
    </div>
  </div>
</div>

<div class="off-button">
  <button
    tuiButton
    type="button"
    appearance="primary"
    class="tui-space_right-3 tui-space_bottom-3"
  >
    Выключить все
  </button>

  <button
    tuiButton
    type="button"
    appearance="primary"
    class="tui-space_right-3 tui-space_bottom-3"
  >
    Выключать все при уходе
  </button>

  <button
    tuiButton
    type="button"
    appearance="primary"
    class="tui-space_right-3 tui-space_bottom-3"
  >
    Настроить расписание
  </button>
</div>
