<header>
  <div class="header">
    <a class="page-name" routerLink="/home" routerLinkActive="active">
      <tui-svg
        class="notifications"
        src="tuiIconArrowLeftLarge">
      </tui-svg>
    </a>
    <a class="page-name" routerLink="/" routerLinkActive="active">
      Пополнение счета
    </a>
    <a class="page-name" routerLink="/" routerLinkActive="active">
      <tui-svg
        class="notifications"
        src="tuiIconBellLarge">
      </tui-svg>
    </a>
  </div>
</header>

<div class="card">
  <tui-input>
    Номер карты
    <input
      tuiTextfield
      type="text"
    />
  </tui-input>
  <tui-input>
    Имя на карте
    <input
      tuiTextfield
      type="text"
    />
  </tui-input>
  <div class="card-details">
    <tui-input>
      ММ/ГГ
      <input
        tuiTextfield
        type="text"
      />
    </tui-input>
    <tui-input>
      CVC
      <input
        tuiTextfield
        type="text"
      />
    </tui-input>
  </div>
</div>
